@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar{
    display:none;
}

@theme{
    --color-primary : #a82403;
}